@import "../Default/variables.scss";

.shop-container {
  padding: 20px;
  background-color: $DarkBackground;
}

.item {
  border: 1px solid $GreyIcon;
  box-sizing: border-box;
  margin: 20px;
  font-family: nimbus-sans, sans-serif;
  font-weight: bold;
  //   width: 33%;
  width: 332px;
  flex-grow: 0;
  &_image {
    background-color: white;
    display: flex;
    position: relative;
    height: 210px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .item-content {
    padding: 14px 20px;
    display: flex;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    .text-block {
      display: flex;
      flex-direction: column;
      span {
        font-size: 14px;
        padding: 2px;
      }
    }

    p {
      padding: 0;
      font-size: 31px;
      margin: 0px;
      color: $LightPurple;
      height: fit-content;
      letter-spacing: 0.1px;
      font-family: nimbus-sans-condensed, sans-serif;
    }
  }
}
