@import "../Default/variables.scss";
.comingSoon {
  height: 100vh;
  position: relative;
  display: flex;
  background-color: $DarkBackground;
  @media screen and (max-width: 600px) {
    height: auto;
  }
  .background-one,
  .background-two {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url(../../assets/homePage/isolation-logo.svg);
    background-size: 60%;
    background-repeat: no-repeat;
    z-index: 50;
  }

  .background-one {
    background-position: bottom -30px left -150px;
    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  .background-two {
    background-position: top -50px right -150px;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.8);
    @media screen and (max-width: 600px) {
      background-position: top;
      background-size: 120%;
    }
  }
  &-container {
    display: flex;
    position: relative;
    z-index: 98;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    width: 60%;
    margin: auto;
    @media screen and (max-width: 600px) {
      margin: 50px auto;
      justify-content: flex-start;
    }

    img {
      width: 300px;
      @media screen and (max-width: 600px) {
        width: 150px;
      }
    }

    p {
      text-align: center;
      line-height: 20px;
      font-size: 17px;

      @media screen and (max-width: 600px) {
        font-size: 14px;
      }
    }
  }
}
