@import "../Default/variables.scss";

.footer {
  padding: 40px 30px;
  display: flex;
  background-color: #340053;
  justify-content: space-between;

  @media only screen and (max-width: 1024px) {
    flex-direction: column;

    align-items: center;
  }
  &-logo {
    width: 150px;
  }

  &_content {
    width: 75%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 1024px) {
      flex-direction: column;
      width: 90%;
    }

    .icon {
      width: 120px;
      @media only screen and (max-width: 1024px) {
        width: 100%;
        box-sizing: border-box;
      }
    }

    &-links {
      padding: 20px 0px;

      font-family: nimbus-sans, sans-serif;
      font-size: 12px;
      font-weight: bold;
      width: auto;

      .title {
        color: $LightPurple;
        width: 100%;
        font-size: 14px;
        font-family: nimbus-sans-condensed, sans-serif;
        margin-bottom: 20px;
        @media only screen and (max-width: 1024px) {
          text-align: center;
        }
      }
      .text-block {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        @media only screen and (max-width: 1024px) {
          flex-direction: row;
          justify-content: space-evenly;
          text-align: center;
        }

        a {
          color: rgba(255, 255, 255, 0.9);
          text-decoration: none;
          padding: 0 2px;
          @media only screen and (max-width: 600px) {
            padding: 5px 10px;
            text-align: center;
            font-size: 8px;
            text-align: center;
          }
          @media only screen and (max-width: 400px) {
            padding: 5px 0px;
          }
        }
      }

      .icon-block {
        display: flex;
        flex-direction: column;
        @media only screen and (max-width: 1024px) {
          flex-direction: row;
          justify-content: space-evenly;
          width: 85%;
          margin: 0 auto;
        }
        @media only screen and (max-width: 600px) {
          width: 100%;
        }
        .block {
          display: flex;
          flex-direction: row;
          max-width: 300px;
          margin-bottom: 10px;
          @media only screen and (max-width: 1024px) {
            display: none;
          }
        }

        img {
          width: 33%;
          max-width: 25px;
          float: left;
          margin-right: 15px;
          @media only screen and (max-width: 600px) {
            max-width: 35px;
          }
          @media only screen and (max-width: 1024px) {
            width: 30px;
          }
        }
      }
      .col-2 {
        float: left;
        @media only screen and (max-width: 1024px) {
          display: none;
        }
      }
      .margin-footer {
        margin-right: 20px;
      }
      .footer-mobile {
        display: none;
        @media only screen and (max-width: 1024px) {
          display: flex;
        }
      }
    }
    .contact .text-block a {
      @media only screen and (max-width: 600px) {
        width: 100%;
      }
    }
  }
}
