@import "../Default/variables.scss";
.featured {
  display: flex;
  flex-wrap: wrap;
  @media only screen and (max-width: 1024px) {
    flex-direction: column-reverse;
  }

  @media only screen and (max-width: 600) {
    height: 400px !important;
  }
  @media only screen and (min-width: 1440px) {
    height: 500px !important;
  }

  &-image {
    background-image: url(../../assets/Tournaments/afcb-featured.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $DarkBackground;
    font-family: nimbus-sans, sans-serif;
    color: white;
    padding-top: 30px;
    box-sizing: border-box;

    @media only screen and (max-width: 1024px) {
      width: 100%;
    }

    h1 {
      font-size: 25px;
      font-weight: 900;
      margin: 10px 0;
      text-align: center;
    }

    img {
      height: 100px;
    }

    .date {
      color: $GreyIcon;
      padding-bottom: 40px;
      @media only screen and (max-width: 1024px) {
        font-size: 20px;
      }
    }

    &-prize {
      display: flex;
      justify-content: space-around;
      padding: 20px 30px;
      background-color: rgba(144, 5, 227, 0.2);
      width: 100%;
      align-items: flex-start;
      box-sizing: border-box;
      @media only screen and (max-width: 1024px) {
        padding: 30px 40px;
      }

      .text {
        display: flex;
        flex-direction: column;

        .prize-pool {
          font-size: 7px;
        }
      }

      .prize {
        font-size: 20px;
      }
      .sign-up_button {
        background-color: #9005e3;

        &:hover {
          background-color: #9005e3;
        }
      }
    }
  }

  &-image {
    width: 60%;

    @media only screen and (max-width: 1024px) {
      width: 100%;
      height: 500px;
      // min-height: 350px;
    }
    @media only screen and (max-width: 800px) {
      height: 400px;
    }
    @media only screen and (max-width: 650px) {
      height: 320px;
    }
    @media only screen and (max-width: 550px) {
      height: 250px !important;
    }
  }
}
