@import "../Default/variables.scss";

.info-phone {
  background-color: #000000;
  box-sizing: border-box;
  .wrapper {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    @media only screen and (max-width: 1024px) {
      flex-direction: column;
      padding-top: 50px;
      text-align: center;
    }
    .xperia-logo {
      width: 40%;
      margin: 0 auto;

      img {
        max-width: 100%;
      }
    }

    .text-block {
      color: #909090;
      padding: 0 40px;
      font-size: 14px;
      @media only screen and (max-width: 1024px) {
        padding: 0;
      }
    }
  }
}
