.details-container {
  background-color: #000000;
  box-sizing: border-box;
  .phone-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 100px 0;
    position: relative;
    @media only screen and (max-width: 1024px) {
      padding: 40px 0;
      max-width: 100%;
    }
    img {
      width: 100%;
    }
    .dot-mobile {
      display: none;
    }
    .details-content-mobile {
      display: none;
    }
    @media only screen and (max-width: 1024px) {
      .dot-mobile {
        display: block;
        height: 8px;
        width: 8px;
        background-color: #d5585c;
        position: absolute;
        border-radius: 100%;
        z-index: 98;
        cursor: pointer;
      }
      .tripple-lense {
        top: 140px !important;
        left: 93px;
      }

      .water-resistant {
        left: 93px;
        top: 240px !important;
      }
      .battery {
        left: 93px;
      }
      .speed,
      .display,
      .game,
      .pro {
        right: 100px;
      }
      .speed {
        top: 100px !important;
      }
      .display {
        top: 200px !important;
      }
      .game {
        top: 300px !important;
      }
      .pro {
        top: 400px !important;
      }

      .details-content-mobile {
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background-color: #d5585c;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        opacity: 0;
      }
    }
    .details-content {
      display: none;
    }
    @media only screen and (min-width: 1024px) {
      .details-content {
        position: absolute;
        z-index: 99;
        max-width: 300px;
        overflow: hidden;
        display: block;
        .dot {
          height: 8px;
          width: 8px;
          background-color: #d5585c;
          position: absolute;
          border-radius: 100%;
          z-index: 98;
          cursor: pointer;

          // &:before {
          //   content: "";
          //   height: 8px;
          //   width: 8px;
          //   background-color: #d5585c;
          //   position: absolute;
          //   top: 50%;
          //   left: 50%;
          //   z-index: 50;
          //   transform: translate(-50%, -50%);
          //   border-radius: 100%;
          //   opacity: 0.4;
          //   transition: 0.5s all;
          // }
        }
        //   .dot:hover:before {
        //     transform: translate(-50%, -50%) scale(3);
        //   }
        .dot-left {
          right: 0;
        }

        .bar {
          height: 1px;
          top: 8px;
          width: 100%;
          background-color: #d5585c;
          transition: 0.5s all;
        }
        .bar-left {
          transform: translate(100%, 4px);
        }
        .bar-right {
          transform: translate(-100%, 4px);
        }

        .title-block,
        .text-block {
          opacity: 0;
          transition: 0.5s all;
        }
        .title-block {
          color: #d5585c;
          margin: 0;
          margin-top: 8px;
          font-size: 20px;
        }
        .text-block {
          color: #909090;
          font-size: 12px;
        }
      }
    }

    .right {
      text-align: right;
    }
    .dot:hover ~ .title-block,
    .dot:hover ~ .text-block {
      opacity: 1;
    }
    .dot-left:hover + .bar-left {
      transform: translate(0, 4px);
    }
    .dot-right:hover + .bar-right {
      transform: translate(0, 4px);
    }

    .tripple-lense {
      top: 195px;
    }
    .water-resistant {
      top: 305px;
    }
    .battery {
      top: 405px;
    }
    .speed {
      top: 160px;
    }
    .display {
      top: 260px;
    }
    .game {
      top: 360px;
    }
    .pro {
      top: 460px;
    }
    .left {
      left: 0;
      transform: translateX(-60%);
    }
    .right {
      right: 0;
      transform: translateX(60%);
    }
  }
}
