.xperia-cod-container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(../../assets/sony/redlandscape.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 20px;
  align-content: center;
  overflow: hidden;
  height: 1000px;
  @media only screen and (max-width: 1024px) {
    height: 700px;
  }
  @media only screen and (max-width: 600px) {
    height: 600px;
  }
  .xperia-title {
    width: 490px;
    margin: 0 auto;
    img {
      max-width: 100%;
    }
    @media only screen and (max-width: 1024px) {
      width: 360px;
    }
    @media only screen and (max-width: 600px) {
      width: 260px;
    }
  }

  .text-block {
    width: 40%;
    margin: 0 auto;
    font-size: 24px;
    color: white;
    text-align: center;
    min-width: 300px;
    margin-top: 50px;
    @media only screen and (max-width: 1024px) {
      font-size: 20px;
    }
  }

  .phone {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
  }

  .sign-up-container {
    width: 300px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    @media only screen and (max-width: 1024px) {
      position: relative;
    }
    p {
      font-size: 20px;
      font-weight: bold;
    }
    .sign-up_button {
      margin: 20px auto 0 auto;
      position: relative;
      z-index: 98;
      border-radius: 20px;
      background-color: white;

      &:before {
        border-radius: 20px;
      }
      &:hover {
        background-color: #d5585c;
      }
    }
  }

  .disclamer {
    position: absolute;
    left: 40px;
    bottom: 20px;
    font-size: 10px;
    width: 300px;
    color: white;
    @media only screen and (max-width: 1024px) {
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }
  }
}
