@font-face {
  font-family: "Metral-Extra-Bold";
  src: url("../../assets/fonts/Web_Fonts/metral_extrabold_macroman/metral-extrabold-webfont.woff")
    format("woff");
}
@font-face {
  font-family: "Metral-Medium";
  src: url("../../assets/fonts/Web_Fonts/metral_medium_macroman/metral-medium-webfont.woff")
    format("woff");
}

body,
html {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

.container {
  margin-left: 120px;

  @media only screen and (max-width: 1024px) {
    margin-left: 0;
    padding-top: 70px;
  }
  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}

h1,
h2,
h3,
h4 {
  font-family: Metral-Extra-Bold;
}
h1,
h2,
h3,
h4,
span,
a,
p,
label {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

p,
input,
span,
a {
  font-family: Metral-Medium, sans-serif;
}

.sign-up_button {
  border: none;
  background-color: rgba(18, 239, 44, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  border-radius: 4px;
  position: relative;
  width: 110px;
  font-family: Metral-Medium, sans-serif;
  transition: all ease 0.3s;
  cursor: pointer;

  &:before {
    content: "SIGN-UP";
    color: white;
    background-color: rgb(3, 3, 18);
    width: 110px;
    padding: 7px 0;
    border-radius: 4px;
    transition: all ease 0.3s;
    font-size: 12.2px;
    text-align: center;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  &:hover:before {
    transform: scale(0.98, 0.96);
  }

  &:hover {
    background-color: rgba(18, 239, 44, 1);
  }
}
