//colors:

$DarkBackground: rgb(3, 3, 18);

$LightBackground: rgb(25, 21, 34);
$GreyIcon: rgb(154, 154, 160);
$LightPurple: rgb(194, 92, 255);
$DarkPurple: rgb(52, 0, 83);
$DarkerPurple: rgba(33, 0, 56, 0.5);
$HighLightPink: rgb(242, 87, 255);
$HighLightYellow: rbg(248, 190, 0);
$HighLightBlue: rbg(0, 127, 255);
$SideBarBlack: rgb(3, 3, 18);

// Font
