@import "../Default/variables.scss";

.Video-Banner {
  position: relative;
  padding-top: 1px;
  height: 300px;
  background-color: $DarkBackground;
  display: flex;
  .background-one,
  .background-two {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url(../../assets/homePage/isolation-logo.svg);
    background-size: 60%;
    background-repeat: no-repeat;
    z-index: 50;
  }

  .background-one {
    background-position: bottom -50px left -150px;
  }

  .background-two {
    background-position: top -50px right -150px;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  }

  &_title {
    text-align: center;
    margin: auto;
    color: white;
    font-size: 50px;
    position: relative;
    z-index: 100;
  }
}
