@import "../Default/variables.scss";

.Video-Banner {
  position: relative;
  padding-top: 1px;
  height: 300px;
  background-color: $DarkBackground;
  text-transform: uppercase;
  display: flex;
  .background-one,
  .background-two {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url(../../assets/homePage/isolation-logo.svg);
    background-size: 60%;
    background-repeat: no-repeat;
    z-index: 50;
  }

  .background-one {
    background-position: bottom -100px left -150px;
    @media only screen and (max-width: 1024px) {
      background-position: bottom -30px left -150px;
      background-size: 70%;
    }
    @media only screen and (max-width: 600px) {
      background-size: 80%;
    }
  }

  .background-two {
    background-position: top -100px right -150px;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.8);
    @media only screen and (max-width: 1024px) {
      background-position: top -20px right -80px;
      background-size: 70%;
    }
    @media only screen and (max-width: 600px) {
      background-size: 80%;
    }
  }

  &_title {
    text-align: center;
    margin: auto;
    color: white;
    font-size: 50px;
    position: relative;
    z-index: 99;
  }
}
