.Video-Banner {
  background-image: url(../../assets/homePage/Landscape-wide.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  background-position: center;

  &_title {
    text-align: center;
    margin: 100px 0;
    color: white;
    font-size: 50px;
  }
}
