RewriteEngine On

DirectoryIndex index.php
RewriteBase /userPost/
  RewriteRule ^/userPost/index\.php$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /userPost/index.php [L]