@import "../Default/variables.scss";
.social-section {
  background-color: $DarkBackground;
  padding: 20px;
  text-align: center;

  h1 {
    font-family: nimbus-sans-condensed, sans-serif;
    font-weight: 900;
    color: white;
    margin-bottom: 50px;
  }

  &_container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto 40px auto;
    justify-content: space-evenly;
    flex-wrap: wrap;

    img {
      width: 50px;
      @media screen and (max-width: 600px) {
        width: 33%;
        height: 40px;
        padding-bottom: 20px;
      }
    }
  }
}
