@import "../Default/variables.scss";

.gaming {
  background-color: $LightBackground;
  position: relative;

  &_content {
    width: 60%;
    max-width: 800px;
    color: white;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;

    @media only screen and (max-width: 600px) {
      width: 80%;
    }
    &-icon {
      width: 80%;
      img {
        max-width: 100%;
      }
    }
    &-title {
      font-family: nimbus-sans-condensed, sans-serif;
      font-weight: 900;
      letter-spacing: 1px;
    }

    &-text {
      line-height: 24px;
    }
  }

  .video-container {
    padding: 50px;
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
    @media only screen and (max-width: 500px) {
      padding: 50px 0;
    }
    .react-player {
      position: relative;
      height: 500px !important;
      z-index: 1;

      @media only screen and (max-width: 1024px) {
        height: 400px !important;
      }
      @media only screen and (max-width: 600px) {
        height: 260px !important;
      }
    }
  }
}
