.imageBanner {
  display: flex;
  min-height: 400px;
  flex-wrap: wrap;

  &_image {
    width: 50%;
    background-size: cover;
    background-position: center;

    @media only screen and (max-width: 600px) {
      width: 100%;
      height: 400px;
    }
  }
}
