@import "../Default/variables.scss";
.info {
  background-image: url(../../assets/homePage/eSportsEnvolved.png);
  background-position: left;
  background-size: cover;

  .info-container {
    width: 90%;
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &_content {
    width: 25%;
    min-width: 200px;
    @media screen and (max-width: 1024px) {
      width: 40%;
      padding: 50px 0px;
    }
    @media screen and (max-width: 600px) {
      width: 80%;
      padding: 25px 0px;
    }
    box-sizing: border-box;
    padding: 50px 25px;
    color: white;
    font-family: nimbus-sans, sans-serif;

    text-align: center;
    &-image {
      img {
        width: 50%;
        height: 100px;
        max-width: 100px;
      }
    }
    &-title {
      font-size: 23px;
      font-weight: 900;
      padding: 10px;
      font-family: nimbus-sans-condensed, sans-serif;
      letter-spacing: 0.23pt;
      margin: 5px;
    }

    &-text {
      margin: 0 auto;
      max-width: 200px;
      line-height: 20px;
      font-weight: bold;
      font-size: 14px;
    }
  }
}
