.isolation {
  background-image: url(../../assets/homePage/japlandscape.png);
  background-size: cover;
  background-position: center;
  padding: 25px;
  color: white;
  width: 100%;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 1000px rgba(95, 245, 249, 0.22);

  &_content {
    text-align: center;

    &-image {
      margin: 0 auto;
    }
    &-title {
      font-size: 50px;
      margin: 15px 0px 40px 0;
    }

    &-partner {
      .title-block {
        font-family: nimbus-sans-condensed, sans-serif;
      }

      .image-container {
        width: 30%;
        min-width: 400px;
        margin: 0 auto;

        @media only screen and (max-width: 500px) {
          min-width: 300px;
        }
        @media only screen and (max-width: 400px) {
          min-width: 266px;
        }

        img {
          width: 33%;
        }
      }
    }
  }
}
