@import "../Default/variables.scss";

.isolation-content {
  background-color: $DarkBackground;
  .covid {
    width: 40%;
    font-family: nimbus-sans, sans-serif;
    margin: 0px auto;
    padding: 50px 0 20px 0;
    text-align: center;
    color: white;
    line-height: 20px;
    font-size: 14px;
    min-width: 510px;
  }

  &-info {
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
    color: white;
    justify-content: space-between;
    flex-wrap: wrap;

    @media only screen and (max-width: 1024px) {
      flex-direction: column;
    }
    .content-block {
      box-sizing: border-box;

      width: 300px;
      min-width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: rgba(255, 255, 255, 0.1);
      padding: 20px 25px;
      @media only screen and (max-width: 1024px) {
        margin: 10px auto;

        width: 331px;
      }
      .title {
        text-align: center;
        margin: 7px 0;
        font-family: nimbus-sans-condensed, sans-serif;
        font-weight: 900;
        font-size: 27px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }

      .icon {
        width: 50%;
        height: 70px;
        margin: 0 auto;
      }

      .text {
        margin: 0px;
        font-family: nimbus-sans, sans-serif;
        color: rgba(255, 255, 255, 0.8);
        font-size: 14px;
        line-height: 18px;
      }
    }
  }

  .video-container {
    padding: 50px;
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;

    .react-player {
      height: 500px !important;

      @media only screen and (max-width: 1024px) {
        height: 400px !important;
      }
    }
  }
}
