@import "../Default/variables.scss";

.platform {
  position: relative;
  background-color: $DarkBackground;
  padding: 40px;

  &_wrapper {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
  }
  &_background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../../assets/homePage/logo_background.svg);
    background-size: 70%;
    background-position: bottom right -135px;
    background-repeat: no-repeat;
  }

  &_image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    img {
      height: 220px;
    }
  }

  &_content {
    width: 55%;

    &_title {
      color: $LightPurple;
      font-size: 30px;
      letter-spacing: -1px;
      margin-top: 0px;
    }

    &_text-block {
      color: white;

      font-size: 14px;
      line-height: 24px;
    }

    .link-text {
      font-weight: bold;
      font-family: nimbus-sans, sans-serif;
      padding: 20px 0;

      a {
        color: $LightPurple;
        font-style: italic;
      }
      span {
        color: white;
      }
    }
  }
}
