@import "../Default/variables.scss";

.platform {
  position: relative;
  background-color: $DarkBackground;
  padding: 40px;
  width: 100%;
  box-sizing: border-box;
  .title-color-change {
    color: rgb(101, 239, 242);
  }
  @media screen and (max-width: 800px) {
    box-sizing: border-box;
    width: 100%;
  }
  &_wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 600px) {
      .sign-up_button {
        margin: 0 auto;
      }
    }
  }
  &_background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../../assets/homePage/logo_background.svg);
    background-size: 70%;
    background-position: bottom right -135px;
    background-repeat: no-repeat;
    @media screen and (max-width: 1024px) {
      background-position: center;
    }
  }

  &_image {
    display: flex;
    margin-bottom: 20px;
    @media screen and (max-width: 600px) {
      width: 100%;
    }
    img {
      height: 150px;
      margin: 0 auto;
      @media screen and (max-width: 1024px) {
        height: 180px;
      }
      @media screen and (max-width: 600px) {
        height: 120px;
        padding-bottom: 30px;
      }
    }
  }

  &_content {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    @media screen and (max-width: 600px) {
      width: 80%;
      margin: 0 auto;
      text-align: center;
    }
    &_title {
      color: white;
      font-size: 30px;
      letter-spacing: -1px;
      margin-top: 0px;
    }

    &_text-block {
      color: white;

      font-size: 14px;
      line-height: 24px;
    }

    .link-text {
      font-weight: bold;
      font-family: nimbus-sans, sans-serif;
      padding: 20px 0;
      font-size: 0.5em;

      a {
        color: $LightPurple;
        font-style: italic;
      }
      span {
        color: white;
      }
    }
    a {
      text-decoration: none;
    }
    .sign-up_button {
      background-color: #9005e3;
      margin: 0 auto;
      &:hover {
        background-color: #9005e3;
      }
    }
  }
}
