@import "../Default/variables.scss";

.SignUpform {
  padding: 15px 40px;
  // border: 1px solid rgba(194, 92, 255, 0.2);
  border-radius: 5px;
  color: white;
  font-family: nimbus-sans, sans-serif;
  box-shadow: inset 0px -4px 30px 10px rgba(194, 92, 255, 0.2);
  .title-block-mobile {
    @media only screen and (min-width: 600px) {
      display: none;
    }

    text-align: center;
    font-family: nimbus-sans-condensed, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
  }
  .field {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 10px 20px;
    @media only screen and (max-width: 600px) {
      width: 100%;
      padding: 10px 0px;
    }

    label,
    input {
      display: block;
      width: 100%;
      font-size: 12px;
      letter-spacing: 0.14pt;
    }

    label {
      text-transform: uppercase;
      margin: 7px 0;
      font-weight: bold;
    }

    input {
      box-sizing: border-box;
      padding: 10px 10px;
      background-color: rgba(255, 255, 255, 0.1);
      color: white;
      border: none;
      background-image: none;
      border-radius: 5px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      font-family: nimbus-sans, sans-serif;

      &:focus {
        background-color: rgba(194, 92, 255, 0.2);
        outline: none;
      }
    }
  }
  .check-box {
    width: 70%;
    min-width: 330px;
    padding: 20px 0;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }

    .checkbox_custom {
      height: 10px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      height: 10px;
      width: 10px;
      border: 3px solid white;
      border-radius: 3px;
      &:after {
        content: "";
        position: absolute;
        display: none;
      }
    }

    & input:checked ~ .checkbox_custom {
      background-color: white;
    }
    & input:checked ~ .checkbox_custom:after {
      display: block;
    }

    label {
      font-size: 11px;
      font-family: nimbus-sans, sans-serif;
      font-weight: bold;
    }
  }
}

.submit-button {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  height: 100px;
}
