@import "../Default/variables.scss";

.tournament {
  background-color: $DarkBackground;
  box-shadow: inset 0 0 0 1000px $DarkerPurple;
  padding: 20px;
  position: relative;

  &_background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url(../../assets/homePage/logo_background.svg);
    background-repeat: no-repeat;
    background-position: bottom -80px right -120px;
  }
  &_title {
    color: white;

    text-align: center;

    font-size: 40px;
    margin: 10px 0;
  }

  &_content {
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;

    .container {
      margin: 0;
      padding: 20px;
      width: 50%;
      height: 400px;
      box-sizing: border-box;

      @media only screen and (max-width: 600px) {
        width: 100%;
      }
      @media only screen and (max-width: 500px) {
        height: 340px;
      }
      @media only screen and (max-width: 400px) {
        height: 310px;
      }
    }
  }

  &_seemore {
    color: $GreyIcon;
    font-family: nimbus-sans-condensed, sans-serif;

    margin: 0 auto;
    max-width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    a {
      color: $GreyIcon;
      text-decoration: none;
    }
    .title {
      font-size: 20px;
      font-weight: bold;
    }

    .cup {
      height: 40px;
      margin-top: 20px;
    }

    .heading {
      font-size: 10px;
      padding: 10px;
    }
  }
}
