@import "../Default/variables.scss";
.signUp-section {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  background-color: $DarkBackground;

  @media only screen and (max-width: 1024px) {
    height: auto;
  }
  @media only screen and (max-width: 600px) {
    width: 100%;
    box-sizing: border-box;
  }
}
